.works {
    padding-bottom: 94px;
}

.works-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.works-list {
    display: flex;
    align-items: center;
}

.works-list-item {
    margin-right: 30px;
    position: relative;

    &:last-child {
        margin-right: 0;
    }
}

.works-list-item-text {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 27px 0px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--active-button-text-color);
    background-color: rgba(47, 48, 58, 0.8);
}