:root {
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --logo-text-color: #000000;
    --accent-color: #2196f3;
    --active-button-text-color: #ffffff;
    --background-footer-color: #2f303a;
    --background-page-color: #f5f4fa;
    --hover-button-cover: #188ce8;
    --border-color: #eeeeee;
    --picture-color: #afb1b8;
}